.home-page__grid-container {
  display: flex;
  justify-content: center;
}

.home-page__grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 40px;
  padding-bottom: 40px;
}

.white-bg {
  background-color: white;
}

.orange-bg {
  background-color: #ed6606;
}

.yellow-bg {
  background-color: #eec907;
}

.green-bg {
  background-color: #049452;
}
