.home-page__grid-container {
  display: flex;
  justify-content: center;
}

.home-page__grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 40px;
  padding-bottom: 40px;
}

.white-bg {
  background-color: white;
}

.orange-bg {
  background-color: #ed6606;
}

.yellow-bg {
  background-color: #eec907;
}

.green-bg {
  background-color: #049452;
}

@media screen and (max-width: 1023px) {
  .home-page__grid {
    grid-template-columns: repeat(3, 200px);
  }
}

@media screen and (max-width: 768px) {
  .home-page__grid {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (max-width: 500px) {
  .home-page__grid {
    grid-template-columns: 200px;
  }
}
